In [47]:
import numpy as np
import pandas as pd
import os
import numpy as np
import pandas as pd
import os
from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
dataset= pd.read_csv("C:/Users/Diptesh Mukherjee/Downloads/news_data.csv")
dataset

,docno,doclen,text
0,LA071790-0001,318,for prefer skip museum go directli gift shop n...
1,LA062989-0001,44,express conflict ideolog even contain symbol s...
2,LA062989-0002,51,how inan reason five suprem court justic rule ...
3,LA062989-0003,31,former california chief justic rose bird use m...
4,LA062989-0004,117,angri congressmen vow protect flag headlin art...
...,...,...,...
20567,FT922-1326,106,anglia televis announc costcut measur includ d...
20568,FT922-1327,254,compani are encourag employe travel road rail ...
20569,FT922-1328,64,the shambl built 13th centuri citi butcheri ce...
20570,FT922-1329,115,mr andrew kimmin jail head fail blade group fu...
20571,FT922-1330,216,wellcom uk pharmaceut group yesterday launch w...

In [49]:

tfidf = TfidfVectorizer(max_features=100, strip_accents='unicode', analyzer='word',  lowercase=True, use_idf=True)
X = tfidf.fit_transform(dataset['text'])

In [54]:
Y = tfidf.get_feature_names_out()

In [57]:
df = pd.DataFrame(X.toarray())

In [60]:
df.to_csv (r'C:/Users/Diptesh Mukherjee/Downloads/reduced_feature_tfidf.csv', index = False, header=True)

AttributeError: to_excel not found

                                                       0
0        (0, 7)\t0.11963189423367158\n  (0, 4)\t0.089...
1        (0, 25)\t0.5572495463560646\n  (0, 18)\t0.53...
2        (0, 91)\t0.43888574386120505\n  (0, 98)\t0.2...
3        (0, 40)\t0.38876875370733255\n  (0, 88)\t0.3...
4        (0, 32)\t0.26196156699006545\n  (0, 88)\t0.2...
...                                                  ...
20567    (0, 6)\t0.17525478676654213\n  (0, 58)\t0.16...
20568    (0, 6)\t0.45955277998351207\n  (0, 99)\t0.05...
20569    (0, 86)\t0.5923626894596158\n  (0, 70)\t0.16...
20570    (0, 99)\t0.23602406472205406\n  (0, 86)\t0.2...
20571    (0, 99)\t0.1078494677833722\n  (0, 74)\t0.22...

[20572 rows x 1 columns]