In [1]:
import numpy as np
import pandas as pd
import os
import numpy as np
import pandas as pd
import os
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
dataset= pd.read_csv("C:/Users/Diptesh Mukherjee/Downloads/news_data.csv")
dataset

,docno,doclen,text
0,LA071790-0001,318,for prefer skip museum go directli gift shop n...
1,LA062989-0001,44,express conflict ideolog even contain symbol s...
2,LA062989-0002,51,how inan reason five suprem court justic rule ...
3,LA062989-0003,31,former california chief justic rose bird use m...
4,LA062989-0004,117,angri congressmen vow protect flag headlin art...
...,...,...,...
20567,FT922-1326,106,anglia televis announc costcut measur includ d...
20568,FT922-1327,254,compani are encourag employe travel road rail ...
20569,FT922-1328,64,the shambl built 13th centuri citi butcheri ce...
20570,FT922-1329,115,mr andrew kimmin jail head fail blade group fu...
20571,FT922-1330,216,wellcom uk pharmaceut group yesterday launch w...

In [3]:
tfidf = TfidfVectorizer(max_features=100, strip_accents='unicode', analyzer='word',  lowercase=True, use_idf=True)
X = tfidf.fit_transform(dataset['text'])

In [4]:
tfidf.get_feature_names_out()

array(['also', 'back', 'bank', 'busi', 'but', 'call', 'cent', 'chang',
       'citi', 'close', 'come', 'compani', 'could', 'countri', 'day',
       'develop', 'dollar', 'end', 'even', 'expect', 'first', 'gener',
       'get', 'go', 'good', 'govern', 'group', 'he', 'home', 'hous',
       'howev', 'in', 'includ', 'increas', 'industri', 'interest', 'issu',
       'it', 'last', 'like', 'made', 'make', 'manag', 'mani', 'market',
       'may', 'month', 'mr', 'much', 'nation', 'need', 'new', 'next',
       'offic', 'offici', 'one', 'oper', 'peopl', 'per', 'plan', 'play',
       'point', 'pound', 'presid', 'price', 'product', 'profit', 'public',
       'rate', 'report', 'said', 'sale', 'say', 'servic', 'share', 'show',
       'sinc', 'state', 'still', 'take', 'the', 'there', 'they', 'thi',
       'three', 'time', 'trade', 'two', 'us', 'use', 'want', 'way', 'we',
       'week', 'well', 'work', 'world', 'would', 'year', 'yesterday'],
      dtype=object)

In [6]:
df = pd.DataFrame(X.toarray())
df.to_csv (r'C:/Users/Diptesh Mukherjee/Downloads/reduced_feature_tfidf1.csv', index = False, header=True)